@model IEnumerable<SkyCommCoreMVC.Models.ModelModTypes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelModType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelModType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModelModTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ModelModTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ModelModTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
