@model SkyCommCoreMVC.Models.Airports

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_OfficesLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Airports</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportIatacode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportIatacode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportIdentifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportIdentifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportLatitudeDegrees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportLatitudeDegrees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportLongitudeDegrees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportLongitudeDegrees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportElevationFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportElevationFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportMunicipality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportMunicipality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportScheduledService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportScheduledService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportGpscode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportGpscode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportLocalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportLocalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportHomeLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportHomeLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportWikipediaLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportWikipediaLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportType.AirportType)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkyCommOpsLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkyCommOpsLevel.SkyCommOpsLevel)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AirportId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
