@model SkyCommCoreMVC.Models.Employees

@{
    ViewData["Title"] = "Employee Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Delete: @Model.FirstName @Model.LastName</h3>
<h4>Are you sure you want to delete this?</h4>
<h4>
    NOTE: This form is for display only. The delete fuctionality is not implemented in this sample application.
</h4>
<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.Label("First Name")
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.Label("Middle Name")
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-3">
            @Html.Label("Last Name")
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.Label("Telephone Number")
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.Label("Email Address")
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-3">
            @Html.Label("Image File Name")
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
        <dt class="col-sm-3">
            @Html.Label("Job Title")
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.JobTitle.JobTitle)
        </dd>
        <dt class="col-sm-3">
            @Html.Label("Office")
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Office.OfficeName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        @*<input type="submit" value="Delete" class="btn btn-danger" /> |*@
        <a class="btn btn-outline-primary" href="@ViewBag.returnUrl">Back to Previous Page</a>
        <a class="btn btn-outline-primary" asp-controller="Employees" asp-action="Search">Return to Employees Search</a>
        <a class="btn btn-outline-primary" asp-controller="Employees" asp-action="Filter">Return to Employees Filter</a>
        <a class="btn btn-outline-primary" asp-controller="Personnel" asp-action="Index">Return to Personnel Home</a>
    </form>
</div>
