@model SkyCommCoreMVC.Models.Employees

@{
    ViewData["Title"] = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Details: @Model.FirstName @Model.LastName</h3>
<hr />
<div>
    @{
        var imagePath = @"/images/images-240px/employees/" + Model.ImageFileName;
    }
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="@imagePath" alt="model.ImageFileName">
        </div>
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.Label("First Name")
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.Label("Middle Name")
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.Label("Last Name")
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.Label("Telephone Number")
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.Label("Email Address")
                </dt>
                <dd class="col-sm-4">
                    <a href="@ViewData["EMailURI"]">@Model.EmailAddress</a>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.Label("Image File Name")
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.ImageFileName)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.Label("Job Title")
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.JobTitle.JobTitle)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.Label("Office")
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Office.OfficeName)
                </dd>
            </dl>
        </div>
    </div>
</div>
<hr />
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a>
    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@Model.EmployeeId">Delete</a>
    <a class="btn btn-outline-primary" href="@ViewBag.returnUrl">Back to Previous Page</a>
    <a class="btn btn-outline-primary" asp-controller="Personnel" asp-action="Index">Return to Personnel Home</a>
</div>
