@model SkyCommCoreMVC.Models.Airports

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AirportsLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Airports</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportIatacode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportIatacode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportIdentifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportIdentifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportLatitudeDegrees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportLatitudeDegrees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportLongitudeDegrees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportLongitudeDegrees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportElevationFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportElevationFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportMunicipality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportMunicipality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportScheduledService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportScheduledService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportGpscode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportGpscode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportLocalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportLocalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportHomeLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportHomeLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportWikipediaLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportWikipediaLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportType.AirportType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkyCommOpsLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkyCommOpsLevel.SkyCommOpsLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AirportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
