@model IEnumerable<SkyCommCoreMVC.Models.Airports>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AirportsLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="AirportsDDL" asp-action="Index" method="get">
    <div class="form-group">
        <label>SkyComm</label>
        <select name="FilterSkyComm" asp-items="ViewBag.SkyCommOpsLevelId"></select>
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
</form>

@Html.DropDownList("SkyCommOpsLevelId", "All")

<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirportIatacode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkyCommOpsLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AirportIatacode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirportType.AirportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.RegionCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkyCommOpsLevel.SkyCommOpsLevel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AirportId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AirportId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AirportId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
