@model IEnumerable<SkyCommCoreMVC.Models.Consoles>


@{
    ViewData["Title"] = "Consoles List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>The SkyComm Integrated Console System</h3>

<div class="row">
    @foreach (var item in Model)
    {
        var imagePath = @"/consoles/" + @item.Image;
        <div class="col-12">
            <div class="card border-secondary mb-3">
                <div class="card-header">@item.Title</div>
                <div class="card-body">
                    <img src="@imagePath" class="img-fluid console-image" alt="@item.Title">
                    <p class="card-text console-card-text">
                        @item.Description<br />
                    </p>
                </div>
            </div>
        </div>
    }
</div>


