@model PaginatedList<SkyCommCoreMVC.Models.Offices>
@using SkyCommCoreMVC.Infrastructure;

@{
    ViewData["Title"] = "Offices List";
    Layout = "~/Views/Shared/_OfficesLayout.cshtml";
}

<h1>Offices List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address 1
            </th>
            <th>
                Address 2
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Postal Code
            </th>
            <th>
                Telephone Number
            </th>
            <th>
                FaxNumber
            </th>
            <th>
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OfficeId">@item.OfficeName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeAddress1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeAddress2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficePostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficePhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeFaxNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OfficeId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.OfficeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
Page @Model.PageIndex of @Model.TotalPages

<br />

@{
    var firstDisabled = Model.IsFirstPage ? "disabled" : "";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var lastDisabled = Model.IsLastPage ? "disabled" : "";
}

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.FirstPage)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @firstDisabled">
    First
</a>

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.LastPage)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @lastDisabled">
    Last
</a>
