@model PaginatedList<SkyCommCoreMVC.Models.Airports>
@using SkyCommCoreMVC.Infrastructure;

@{
    ViewData["Title"] = "Airports Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Airports Filter</h3>
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<form asp-controller="Airports" asp-action="Filter" method="get">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                @Html.Label("SkyComm Ops Level")
                <select name="FilterSkyComm" class="form-control" asp-items="@((SelectList)ViewData["SkyCommOpsLevelId"])" onchange="this.form.submit();">
                    <option value="">(All)</option>
                </select>
            </div>
            <div class="col-md-4">
                @Html.Label("Country")
                <select name="FilterCountry" class="form-control" asp-items="@((SelectList)ViewData["CountryId"])" onchange="this.form.submit();">
                    <option value="">(All)</option>
                </select>
            </div>
            <div class="col-md-3">
                @Html.Label("Airport Type")
                <select name="FilterAirportType" class="form-control" asp-items="@((SelectList)ViewData["AirportTypeId"])" onchange="this.form.submit();">
                    <option value="">(All)</option>
                </select>
            </div>
            <div class="col-md-1">
                &nbsp;<a class="btn btn-primary" asp-action="Filter">Reset</a>
            </div>
        </div>
    </div>
    <div>
        @{
            if (@ViewData["RecordCount"].Equals(0))
            {
                <p>No records returned, please review your filter criteria.</p>
            }
            else if (@ViewData["RecordCount"].Equals(1))
            {
                <p>@ViewData["RecordCount"] record returned.</p>
            }
            else
            {
                <p>@ViewData["RecordCount"] records returned.</p>
            }
        }
    </div>
    <table class="table @(@ViewData["RecordCount"].Equals(0) ? "invisible" : "visible")">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("IATA Code")
                </th>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("SkyComm Ops Level")
                </th>
                <th>
                    @Html.DisplayName("Country")
                </th>
                <th>
                    @Html.DisplayName("Airport Type")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.AirportId">@item.AirportIatacode</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkyCommOpsLevel.SkyCommOpsLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region.Country.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportType.AirportType)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Page @Model.PageIndex of @Model.TotalPages
                </p>
                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.FirstPage)"
                   asp-route-pageSize="@(Model.PageSize)"
                   asp-route-filterSkyComm="@ViewData["SkyCommFilter"]"
                   asp-route-filterCountry="@ViewData["CountryFilter"]"
                   asp-route-filterAirportType="@ViewData["AirportTypeFilter"]"
                   class="btn btn-primary @(Model.FirstDisabled())">
                    First
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-pageSize="@(Model.PageSize)"
                   asp-route-filterSkyComm="@ViewData["SkyCommFilter"]"
                   asp-route-filterCountry="@ViewData["CountryFilter"]"
                   asp-route-filterAirportType="@ViewData["AirportTypeFilter"]"
                   class="btn btn-primary @(Model.PreviousDisabled())">
                    Previous
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-pageSize="@(Model.PageSize)"
                   asp-route-filterSkyComm="@ViewData["SkyCommFilter"]"
                   asp-route-filterCountry="@ViewData["CountryFilter"]"
                   asp-route-filterAirportType="@ViewData["AirportTypeFilter"]"
                   class="btn btn-primary @(Model.NextDisabled())">
                    Next
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.LastPage)"
                   asp-route-pageSize="@(Model.PageSize)"
                   asp-route-filterSkyComm="@ViewData["SkyCommFilter"]"
                   asp-route-filterCountry="@ViewData["CountryFilter"]"
                   asp-route-filterAirportType="@ViewData["AirportTypeFilter"]"
                   class="btn btn-primary @(Model.LastDisabled())">
                    Last
                </a>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <label class="control-label">Records Per Page</label>
                <select asp-for="PageSize" class="form-control" asp-items="new SelectList(Model.GetListRecordsPerPage())" onchange="this.form.submit();"></select>
            </div>
        </div>
    </div>
</form>
