@model PaginatedList<SkyCommCoreMVC.Models.Airports>
@using SkyCommCoreMVC.Infrastructure;

@{
    ViewData["Title"] = "Airports List";
    Layout = "~/Views/Shared/_AirportsLayout.cshtml";
}

<h1>Airports List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                IATA Code
            </th>
            <th>
                Name
            </th>
            <th>
                Municipality
            </th>
            <th>
                Country
            </th>
            <th>
                Type
            </th>
            <th>
                SkyComm Operations
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AirportId">@item.AirportIatacode</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirportMunicipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.Country.CountryName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirportType.AirportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkyCommOpsLevel.SkyCommOpsLevel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AirportId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.AirportId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
Page @Model.PageIndex of @Model.TotalPages

<br />

@{
    var firstDisabled = Model.IsFirstPage ? "disabled" : "";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var lastDisabled = Model.IsLastPage ? "disabled" : "";
}

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.FirstPage)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @firstDisabled">
    First
</a>

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.LastPage)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @lastDisabled">
    Last
</a>
