@model PaginatedList<SkyCommCoreMVC.Models.UnitModels>
@using SkyCommCoreMVC.Infrastructure;

@{
    ViewData["Title"] = "Equipment Models List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Equipment Models List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                MSRP
            </th>
            <th>
                Category
            </th>
            <th>
                Frequency Band
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UnitModelId">@item.ModelCode</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelMsrp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelCategory.ModelCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelFreqBand.ModelFreqBand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelManufacturer.ModelManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelModType.ModelModType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UnitModelId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.UnitModelId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="List" method="get">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Page @Model.PageIndex of @Model.TotalPages
                </p>
                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.FirstPage)"
                   asp-route-pageSize="@(Model.PageSize)"
                   class="btn btn-primary @(Model.FirstDisabled())">
                    First
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-pageSize="@(Model.PageSize)"
                   class="btn btn-primary @(Model.PreviousDisabled())">
                    Previous
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-pageSize="@(Model.PageSize)"
                   class="btn btn-primary @(Model.NextDisabled())">
                    Next
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.LastPage)"
                   asp-route-pageSize="@(Model.PageSize)"
                   class="btn btn-primary @(Model.LastDisabled())">
                    Last
                </a>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <label class="control-label">Records Per Page</label>
                <select asp-for="PageSize" class="form-control" asp-items="new SelectList(Model.GetListRecordsPerPage())" onchange="this.form.submit();"></select>
            </div>
        </div>
    </div>
</form>
