@model PaginatedList<SkyCommCoreMVC.Models.Units>
@using SkyCommCoreMVC.Infrastructure;

@{
    ViewData["Title"] = "Equipment Units Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Units Filter</h3>
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<form asp-controller="Units" asp-action="Filter" method="get">
    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                @Html.Label("Airport")
                <select name="FilterAirport" class="form-control" asp-items="@((SelectList)ViewData["AirportId"])" onchange="this.form.submit();">
                    <option value="">(All)</option>
                </select>
            </div>
            <div class="col-md-5">
                @Html.Label("Unit Model")
                <select name="FilterUnitModel" class="form-control" asp-items="@((SelectList)ViewData["UnitModelId"])" onchange="this.form.submit();">
                    <option value="">(All)</option>
                </select>
            </div>
            <div class="col-md-1">
                &nbsp;<a class="btn btn-primary" asp-action="Filter">Reset</a>
            </div>
        </div>
    </div>
    <div>
        @{
            if (@ViewData["RecordCount"].Equals(0))
            {
                <p>No records returned, please review your filter criteria.</p>
            }
            else if (@ViewData["RecordCount"].Equals(1))
            {
                <p>@ViewData["RecordCount"] record returned.</p>
            }
            else
            {
                <p>@ViewData["RecordCount"] records returned.</p>
            }
        }
    </div>
    <table class="table @(@ViewData["RecordCount"].Equals(0) ? "invisible" : "visible")">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Unit SkyComm Number")
                </th>
                <th>
                    @Html.DisplayName("Unit Serial Number")
                </th>
                <th>
                    @Html.DisplayName("Unit Model")
                </th>
                <th>
                    @Html.DisplayName("Airport")
                </th>
                <th>
                    @Html.DisplayName("Unit Cost")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.UnitId">@item.UnitScnbr</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitSerNbr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitModels.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Airport.AirportName)
                    </td>
                    <td>
                        @item.UnitCost.ToString("c")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Page @Model.PageIndex of @Model.TotalPages
                </p>
                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.FirstPage)"
                   asp-route-pageSize="@(Model.PageSize)"
                   asp-route-filterAirport="@ViewData["AirportFilter"]"
                   asp-route-filterUnitModel="@ViewData["UnitModelFilter"]"
                   class="btn btn-primary @(Model.FirstDisabled())">
                    First
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-pageSize="@(Model.PageSize)"
                   asp-route-filterAirport="@ViewData["AirportFilter"]"
                   asp-route-filterUnitModel="@ViewData["UnitModelFilter"]"
                   class="btn btn-primary @(Model.PreviousDisabled())">
                    Previous
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-pageSize="@(Model.PageSize)"
                   asp-route-filterAirport="@ViewData["AirportFilter"]"
                   asp-route-filterUnitModel="@ViewData["UnitModelFilter"]"
                   class="btn btn-primary @(Model.NextDisabled())">
                    Next
                </a>

                <a asp-action="@(Model.PageAction)"
                   asp-route-pageNumber="@(Model.LastPage)"
                   asp-route-pageSize="@(Model.PageSize)"
                   asp-route-filterAirport="@ViewData["AirportFilter"]"
                   asp-route-filterUnitModel="@ViewData["UnitModelFilter"]"
                   class="btn btn-primary @(Model.LastDisabled())">
                    Last
                </a>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <label class="control-label">Records Per Page</label>
                <select asp-for="PageSize" class="form-control" asp-items="new SelectList(Model.GetListRecordsPerPage())" onchange="this.form.submit();"></select>
            </div>
        </div>
    </div>
</form>

